.issue-block {
    height: 92vh;
    position: relative;
    scroll-snap-align: start;
    overflow: visible;
    
    &__image {
        height: 77vh;
        background-size: cover;
        background-position: center center;
        background-repeat: no-repeat;

        border-bottom: 1px solid $color-black;
    }

    &__editorial {
        padding: 4vw 4vw;
        font-family: $font-serif-medium;
        
        column-count: 2;
        column-gap: 5rem;
        -webkit-column-rule: 1px solid black;
        -moz-column-rule: 1px solid black;
        column-rule: 1px solid black;

        p {
            margin-bottom: 2rem;
            line-height: 1.5;
            // max-width: 50vw;  
        }
    }

    &__names {
        padding: 4vw 4vw;
        text-align: center;

        p {
            max-width: 70vh;
            margin: 0 auto;
            font-size: 2.4rem;
        }
        
    }
}

.third-image {
    background-image: url(../assets/third-issue-2x.jpg);
}

.second-image {
    background-image: url(../assets/second-issue-2x.jpg);
}

.first-image {
    background-image: url(../assets/first-issue-2x.jpg);
}

/* iPad Portrait and Landscape */
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (-webkit-min-device-pixel-ratio: 1) {
    .third-image {
        background-image: url(../assets/third-issue-2x-tablet.jpg);
    }

    .second-image {
        background-image: url(../assets/second-issue-2x-tablet.jpg);
    }
    
    .first-image {
        background-image: url(../assets/first-issue-2x-tablet.jpg); 
    }
}

/* iPhone 5 – Portrait and Landscape */
@media only screen and (min-device-width: 320px) and (max-device-width: 568px) and (-webkit-min-device-pixel-ratio: 2) {
    .issue-block {
        height: 90vh;
        scroll-snap-align: start; 

        &__image {
            height: 66vh; 
        }

        &__editorial {
            padding: 4vw 4vw;
            column-count: auto;
        }

        &__names {
            padding: 4vw;

            p {
                font-size: 1.6rem;
            }
        }
    }

    .third-image {
        background-image: url(../assets/third-issue-2x-tablet.jpg);
    }

    .second-image {
        background-image: url(../assets/second-issue-2x-tablet.jpg);
    }
    
    .first-image {
        background-image: url(../assets/first-issue-2x-tablet.jpg); 
    }

    .btn-block {
        height: 8vh;
    }
}

/* iPhone 5 – Landscape */
@media only screen and (min-device-width: 320px) and (max-device-width: 568px) and (-webkit-min-device-pixel-ratio: 2) and (orientation: landscape) {
    .third-image {
        background-image: url(../assets/third-issue-2x-landscape.jpg);
    }

    .second-image {
        background-image: url(../assets/second-issue-2x-landscape.jpg);
    }
    
    .first-image {
        background-image: url(../assets/first-issue-2x-landscape.jpg); 
    }
}


.btn-block {
    width: 100%;
    height: 5vh;
    // height: calc(var(--vh, 1vh) * 5);
    border-bottom: 1px solid $color-black;

    display: flex;
    align-items: center;
    justify-content: space-between; 

    // border-top: 1px solid $color-black;

    &__left {
        width: 50%;
        border-right: 1px solid $color-black;

        @include content-btn;
        @include arrow-right;
    }

    &__right {
        width: 50%;
        @include content-btn;
        @include arrow-right;
    }
}

/* iPhone 5 – Portrait and Landscape */
@media only screen and (min-device-width: 320px) and (max-device-width: 568px) and (-webkit-min-device-pixel-ratio: 2) {
    .btn-block {
        height: 8vh; 
    }
}

.third-background {
    background-color: $color-primary;
}

.second-background {
    background-color: $color-second-issue;
}

.first-background {
    background-color: $color-first-issue;
}

.overlay {
    width: 100%;
    height: 77vh;
    position: absolute;
    top: 0;
    left: 0;
    overflow: auto;

    transform: translateX(-100%);
    transition: transform .5s ease;
    border-bottom: 1px solid $color-black;
   
    &__third {
        background-color: $color-primary;
    }

    &__second {
        background-color: $color-second-issue;
    }

    &__first {
        background-color: $color-first-issue;
    }
}

/* iPhone 5 – Portrait and Landscape */
@media only screen and (min-device-width: 320px) and (max-device-width: 568px) and (-webkit-min-device-pixel-ratio: 2) {
    .overlay {
        height: 66vh;
    }
}

.open {
    transform: translateX(0);
}