$font-sans: 'Glitter Regular';
$font-serif: 'Glitter Serif';
$font-serif-medium: 'Glitter Serif Medium';
$font-italic: 'Glitter Italic';

$default-font-size: 1.6rem;

$color-primary: #F1B8B6;
$color-secondary: #367D45;
$color-second-issue: #B1B6E2;
$color-first-issue: #8FE8E8;

$color-black: #000;
$color-white: #fff;