@font-face {
    font-family: 'Glitter Regular';
    src: url(assets/Glitter-Regular.woff2), url(assets/Glitter-Regular.woff);
  }
  
  @font-face {
    font-family: 'Glitter Antique';
    src: url(assets/Glitter-Antique.woff2), url(assets/Glitter-Antique.woff);
  }